$gap: 30px;
$font-roboto: 'Roboto', sans-serif;
$font-ttfirs: 'TT Firs Neue', sans-serif;


// colors
$main-dark-color: #202020;
$main-light-color: #ffffff;
$light-grey-color:#CACACA;
$grey-color:#999999;
$orange-color:#FF6E30;
$dark-orange-color:#BC572B;
$orange-active-color:#CE4307 ;
$form-backgr-dark: #4A4A4A;
$form-backgr-light: #E9E9E9;
